<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>资源下载 - {config.webname}</title>
<meta content="资源下载 - {config.webname}-powered by angelasp.com" name="keywords" />
<meta content="资源下载 - {config.webname}-powered by angelasp.com" name="description" />
<link rel="stylesheet" type="text/css" href="<!--angelcms{templateskin}-->/css/basic.css" />
<link rel="stylesheet" type="text/css" href="<!--angelcms{templateskin}-->/css/style.css" />
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/lang-chi.min.js"></script>
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/common.min.js"></script>
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/overlay.min.js"></script>
</head>
<body >
<!--顶部-->
<!--Header-->
<!--angelcms{template src="header.html"}-->
<!--/Header-->
<!--中间区块-->
<div id="content-block">
<div class="content-block-width">
	<div id="bd">
	<div id="innerpg" class="bd-inner">
    <!--检查这里是否为一样-->
	<div class="clearfix layout-innerpg ">	<div class="col-main">
		<div class="main-wrap">
						<div id='articles-list' class="block first-block">
				<div class="block-head">
					<div class="head-inner">
						<h2 class="title">资源下载</h2>
						</div>
				</div>
				<div class="block-content clearfix">
					<div class="list-table">

      <!--angelcms{set DataTable category_list=get_category_child_list("down", 0)}-->
      <!--angelcms{loop cdr category_list}-->
      <!--angelcms{if(cdr__loop__id==1)}-->
      <dl class="head green">
      <!--angelcms{else}-->
      <dl class="head blue">
      <!--angelcms{/if}-->
        <dt>{cdr[title]}</dt>
        <dd>
          <span><a href="<!--angelcms{linkurl("down_list",{cdr[id]})}-->" title="查看更多" class="arrow">&gt;&gt;</a></span>
        </dd>
      </dl>
      <div class="clear"></div>
      <ul class="down_list">
        <!--angelcms{set DataTable down_list=get_article_list("down", {strtoint({cdr[id]})}, 2, "is_red=1")}-->
        <!--angelcms{loop listdr down_list}-->
        <li>
          <a title="{listdr[title]}" href="<!--angelcms{linkurl("down_show",{listdr[id]})}-->" class="pic"><img width="140" height="98" src="{listdr[img_url]}" alt="{listdr[title]}" /></a>
          <h2><a href="<!--angelcms{linkurl("down_show",{listdr[id]})}-->" title="note">{listdr[title]}</a></h2>
          <div class="info">
            <span class="time">{listdr[add_time]}</span>
            <span class="view">{listdr[click]}次浏览</span>
          </div>
          <div class="note"><!--angelcms{cutstring({listdr[content]},255)}--></div>
        </li>
        <!--angelcms{/loop}-->
      </ul>
      <!--angelcms{/loop}-->

				</div>

				</div>
				<div class="block-foot"><div><div>-</div></div></div>
			</div>
			
		</div>
		</div>
		<div class="col-sub">
			<div class="block first-block block-products  list-240" id="block-products-89305" rel="89305">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">资源分类</h2><div class="links"><a class="more" href="/products">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">								
        <!--angelcms{set DataTable category_list1=get_category_list("down", 0)}-->
        <!--angelcms{foreach(DataRow dr in category_list1.Rows)}-->
        <li><a title="{dr[title]}" href="<!--angelcms{linkurl("down_list",{dr[id]})}-->"><em class="arrow"></em>{dr[title]}</a></li>
        <!--angelcms{/foreach}-->									
				</ul>   
				</div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div><div class="block last-block block-articles  list-240" id="block-articles-89306" rel="89306">    <div class="block-head">    <div class="head-inner">
	    	<h2 class="title">推荐文章</h2><div class="links"><a class="more" href="/articles">更多</a></div>    </div>
    </div>    <div class="block-content clearfix">
    	<div class="item-list">
	    <ul class="clearfix">
 <!--angelcms{set DataTable rednews1=get_article_list("news", 0, 10, "status=0 and is_red=1")}-->
        <!--angelcms{foreach(DataRow dr in rednews1.Rows)}-->
        <li><a title="{dr[title]}" href="<!--angelcms{linkurl("news_show",{dr[id]})}-->"><!--angelcms{cutstring({dr[title]},30)}--></a></li>
        <!--angelcms{/foreach}-->
          </ul> 
		  </div>
    </div>
    <div class="block-foot"><div><div>-</div></div></div></div>		</div></div>
	</div>
	</div>
</div>
</div>

<!--Footer-->
<!--angelcms{template src="footer.html"}-->
<!--/Footer-->
</body>
</html>