<!--底部-->
<div id="ft">
	<div class="ft-inner">
	<div class="ft-menu"  id="ft-menu">
      <a target="_blank" href="<!--angelcms{linkurl("index")}-->">网站首页</a>|
      <a target="_blank" href="<!--angelcms{linkurl("content","about")}-->">关于我们</a>|
      <a target="_blank" href="<!--angelcms{linkurl("news")}-->">新闻资讯</a>|
      <a target="_blank" href="<!--angelcms{linkurl("products")}-->">公司产品</a>|
      <a target="_blank" href="<!--angelcms{linkurl("down")}-->">资源下载</a>|
      <a target="_blank" href="<!--angelcms{linkurl("photo")}-->">图片分享</a>|
      <a target="_blank" href="<!--angelcms{linkurl("feedback")}-->">留言反馈</a>|
      <a target="_blank" href="<!--angelcms{linkurl("link")}-->">友情链接</a>|
      <a target="_blank" href="<!--angelcms{linkurl("content","contact")}-->">联系我们</a>
	</div>

<div class="siteinfo" id="ft-siteinfo">
  <p>版权所有 Angel工作室 京ICP备备01068681号 版本：V<!--angelcms{=Utils.GetVersion()}--> © Copyright 2009 - 2014. angelasp.com. All Rights Reserved.&nbsp; </p>
</div>

</div>
</div>