<!--顶部-->
<div id="doc">
	<div id="hd">

		<div class="clearfix pagetitle">
			<h1 class="sitename"><a href="{config.weburl}" title="{config.webname}"><img  class="ifixpng" src="{config.weblogo}"  alt="{config.webname}" /></a></h1>
<div class="language"> 
<ul id="menu" class="menu">
      <li><a href="<!--angelcms{linkurl("shopping","cart")}-->">购物车<script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_cart_count"></script>件</a></li>
 </ul>	
 <div class="clear"></div>
<div class="search clearfix">
      <input id="keywords" name="keywords" class="enter" type="text" x-webkit-speech="" autofocus="" placeholder="输入回车搜索" onkeydown="if(event.keyCode==13){SiteSearch('<!--angelcms{linkurl("search")}-->', '#keywords');return false};" />
      <input class="btn" type="button" value="   " onclick="SiteSearch('<!--angelcms{linkurl("search")}-->', '#keywords');" />
    <script type="text/javascript">
        $.ajax({
            type: "get",
            url: "{config.webpath}tools/submit_ajax.ashx?action=user_check_login",
            cache: false,
            success: function (data) {
			  var result = $.parseJSON(data);
                if (result.status == 1) {
                    $("#menu").append('<li><a href="<!--angelcms{linkurl("usercenter","exit")}-->">退出</a></li>');
                    $("#menu").append('<li><a href="<!--angelcms{linkurl("usercenter","index")}-->">会员中心</a></li>');
                } else {
                    $("#menu").append('<li><a href="<!--angelcms{linkurl("register")}-->">注册</a></li>');
                    $("#menu").append('<li><a href="<!--angelcms{linkurl("login")}-->">登录</a></li>');
                }
            }
        });
    </script>
	</div>	
	
		</div>
		</div>

		<div class="clearfix sitenav">
			<div class="clearfix menu-main">
<ul id="menuSitenav" class="clearfix">
      <li class="first-item"><a href="<!--angelcms{linkurl("index")}-->" class="home">网站首页</a></li>
      <li><a target="_blank" href="<!--angelcms{linkurl("content","about")}-->" target="_self">关于我们</a></li>
      <li><a href="<!--angelcms{linkurl("news")}-->" target="_self">新闻资讯</a></li>
      <li><a href="<!--angelcms{linkurl("products")}-->" target="_self">公司产品</a></li>
      <li><a href="<!--angelcms{linkurl("photo")}-->" target="_self">图片分享</a></li>
      <li><a href="<!--angelcms{linkurl("down")}-->" target="_self">资源下载</a></li>
      <li><a target="_self" href="<!--angelcms{linkurl("feedback")}-->">留言反馈</a></li>
      <li><a target="_self" href="<!--angelcms{linkurl("content","contact")}-->">联系我们</a></li>
      <li><a href="<!--angelcms{linkurl("news_list",20)}-->" target="_self">产业政策</a></li>
                </ul>
				</div>	
		</div>




	</div>      
</div>
<script type="text/javascript">
$(function() {
	var sWidth = $("#banner-inner").width(); //获取焦点图的宽度（显示面积）
	var len = $("#banner-inner ul li").length; //获取焦点图个数
	var index = 0;
	var picTimer;

	//以下代码添加数字按钮和按钮后的半透明条，还有上一页、下一页两个按钮
	var btn = "<div class='btnBg'></div><div class='btn'>";
	for(var i=0; i < len; i++) {
		btn += "<span></span>";
	}
	btn += "</div><div class='preNext pre'></div><div class='preNext next'></div>";
	$("#banner-inner").append(btn);
	$("#banner-inner .btnBg").css("opacity",0.5);

	//为小按钮添加鼠标滑入事件，以显示相应的内容
	$("#banner-inner .btn span").css("opacity",0.4).mouseover(function() {
		index = $("#banner-inner .btn span").index(this);
		showPics(index);
	}).eq(0).trigger("mouseover");

	//上一页、下一页按钮透明度处理
	$("#banner-inner .preNext").css("opacity",0.2).hover(function() {
		$(this).stop(true,false).animate({"opacity":"0.5"},300);
	},function() {
		$(this).stop(true,false).animate({"opacity":"0.2"},300);
	});

	//上一页按钮
	$("#banner-inner .pre").click(function() {
		index -= 1;
		if(index == -1) {index = len - 1;}
		showPics(index);
	});

	//下一页按钮
	$("#banner-inner .next").click(function() {
		index += 1;
		if(index == len) {index = 0;}
		showPics(index);
	});

	//本例为左右滚动，即所有li元素都是在同一排向左浮动，所以这里需要计算出外围ul元素的宽度
	$("#banner-inner ul").css("width",sWidth * (len));
	
	//鼠标滑上焦点图时停止自动播放，滑出时开始自动播放
	$("#banner-inner").hover(function() {
		clearInterval(picTimer);
	},function() {
		picTimer = setInterval(function() {
			showPics(index);
			index++;
			if(index == len) {index = 0;}
		},4000); //此4000代表自动播放的间隔，单位：毫秒
	}).trigger("mouseleave");
	
	//显示图片函数，根据接收的index值显示相应的内容
	function showPics(index) { //普通切换
		var nowLeft = -index*sWidth; //根据index值计算ul元素的left值
		$("#banner-inner ul").stop(true,false).animate({"left":nowLeft},300); //通过animate()调整ul元素滚动到计算出的position
		//$("#banner-inner .btn span").removeClass("on").eq(index).addClass("on"); //为当前的按钮切换到选中的效果
		$("#banner-inner .btn span").stop(true,false).animate({"opacity":"0.4"},300).eq(index).stop(true,false).animate({"opacity":"1"},300); //为当前的按钮切换到选中的效果
	}
});
</script>

<!--banner--> 
<div id="banner-block">
	<div class="banner-block-width">
	<div id="sys-banner">
	<div id="banner-main" class="banner banner-main">
   <!--banner start-->
		<div id="banner-inner">
			<ul>
          <!--angelcms{set DataTable focusNews=get_article_list("news", 0, 5, "status=0 and is_slide=1")}-->
          <!--angelcms{foreach(DataRow dr in focusNews.Rows)}-->
				<li>
	          <a title="{dr[title]}" target="_blank" href="<!--angelcms{linkurl("news_show",{dr[id]})}-->"><img src="{dr[img_url]}" alt="{dr[title]}" /></a>			
				</li>
        <!--angelcms{/foreach}-->
			</ul>
		</div><!--banner end-->
	</div>
    </div>
	</div>
</div>
<!--end banner-->