<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>支付中心－{config.webname}</title>
<link rel="stylesheet" type="text/css" href="<!--angelcms{templateskin}-->/css/basic.css" />
<link rel="stylesheet" type="text/css" href="<!--angelcms{templateskin}-->/css/style.css" />
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/lang-chi.min.js"></script>
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/common.min.js"></script>
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/overlay.min.js"></script>
<script type="text/javascript" src="<!--angelcms{templateskin}-->/js/base.js"></script>
</head>
<body >
<!--Header-->
<!--angelcms{template src="header.html"}-->
<!--/Header-->
<!--中间区块-->
<div id="content-block">
<div class="content-block-width">
	<div id="bd">
	<div id="innerpg" class="bd-inner">
    <!--检查这里是否为一样-->
	<div class="clearfix layout-innerpg ">
		<div class="col-main">
		<div class="main-wrap">
		<div id='htmlpages' class="block first-block block-article-view">
<div class="block-head">
	<div class="head-inner">
	<h1 class="title"> 支付中心<strong>Payment</strong></h1>
	</div>
</div>
    <!--会员中心-->
<div class="block-content clearfix">
	<div class="article-content clearfix" style="padding-top:10px;">

    <!--angelcms{if(action=="confirm")}-->
    <!--提交支付-->
    <form id="pay_form" name="pay_form" method="post" action="{config.webpath}api/payment/{payModel.api_path}/index.aspx" target="_blank">
    <input id="pay_order_no" name="pay_order_no" type="hidden" value="{order_no}" />
    <input id="pay_order_amount" name="pay_order_amount" type="hidden" value="{order_amount}" />
    <input id="pay_user_name" name="pay_user_name" type="hidden" value="{userModel.user_name}" />
    <!--angelcms{if(order_type=="recharge")}-->
    <div class="form_box">
      <dl>
        <dt>订单号：</dt>
        <dd>{order_no}</dd>
      </dl>
      <dl>
        <dt>充值金额：</dt>
        <dd>{order_amount}</dd>
      </dl>
      <dl>
        <dt>支付方式：</dt>
        <dd>{payModel.title}</dd>
      </dl>
      <dl>
        <dt></dt>
        <dd><input id="btnSubmit" name="btnSubmit" type="submit" class="btn_submit" value="确认支付" /></dd>
      </dl>
    </div>
    <input id="pay_subject" name="pay_subject" type="hidden" value="账户充值" />
    <!--angelcms{else if(order_type=="buygoods")}-->
    <div class="cart_step">
      <ul>
        <li><span>1</span>放进购物车</li>
        <li class="item"><span>2</span>填写订单信息</li>
        <li class="last selected"><span>3</span>支付/确定订单</li>
      </ul>
    </div>
    <div class="form_box">
      <dl>
        <dt>订单号：</dt>
        <dd>{order_no}</dd>
      </dl>
      <dl>
        <dt>收货人姓名：</dt>
        <dd>{orderModel.accept_name}</dd>
      </dl>
      <dl>
        <dt>送货地址：</dt>
        <dd>{orderModel.address}</dd>
      </dl>
      <dl>
        <dt>手机号码：</dt>
        <dd>{orderModel.mobile}</dd>
      </dl>
      <dl>
        <dt>固定电话：</dt>
        <dd>{orderModel.telphone}</dd>
      </dl>
      <dl>
        <dt>备注留言：</dt>
        <dd>{orderModel.message}</dd>
      </dl>
      <dl>
        <dt>支付金额：</dt>
        <dd>{order_amount}</dd>
      </dl>
      <dl>
        <dt>支付方式：</dt>
        <dd>{payModel.title}</dd>
      </dl>
      <dl>
        <dt></dt>
        <dd><input id="btnSubmit" name="btnSubmit" type="submit" class="btn_submit" value="确认支付" /></dd>
      </dl>
    </div>
    <input id="pay_subject" name="pay_subject" type="hidden" value="购买商品" />
    <!--angelcms{/if}-->
    </form>
    <!--提交支付-->
    <!--angelcms{/if}-->
          
    <!--angelcms{if(action=="succeed")}-->
    <!--支付成功-->
    <div class="msg_tips">
      <div class="ico"></div>
      <div class="msg">
        <strong>支付成功啦！</strong>
        <p>恭喜您，您的支付已经成功！</p>
        <p>您可以点击这里进入<a href="<!--angelcms{linkurl("usercenter","index")}-->">会员中心</a>查看订单状态！</p>
        <p>如有其它问题，请立即与我们客服人员联系。</p>
      </div>
    </div>
    <!--支付成功-->
    <!--angelcms{/if}-->
          
    <!--angelcms{if(action=="error")}-->
    <!--支付出错-->
    <div class="msg_tips">
      <div class="ico error"></div>
      <div class="msg">
        <strong>出错啦，支付失败！</strong>
        <p>支付过程中发生意处错误！</p>
        <p>您可以点击这里进入<a href="<!--angelcms{linkurl("usercenter","index")}-->">会员中心</a>查看订单状态！</p>
        <p>如您确实已经支付，请立即与我们客服人员联系。</p>
      </div>
    </div>
    <!--支付出错-->
    <!--angelcms{/if}-->
      
    <!--angelcms{if(action=="login")}-->
    <!--用户未登录-->
    <div class="msg_tips">
      <div class="ico warning"></div>
      <div class="msg">
        <strong>对不起，请登录后再进行支付！</strong>
        <p>您尚未登录或已经超时啦！</p>
        <p>如果您已是会员用户，请<a href="<!--angelcms{linkurl("login")}-->">点击这里进行登录</a>！</p>
        <p>如果您尚未成为我们会员，请<a href="<!--angelcms{linkurl("register")}-->">点击这里注册</a>。</p>
      </div>
    </div>
    <!--用户未登录-->
    <!--angelcms{/if}-->
      
    <!--angelcms{if(action=="recharge")}-->
    <!--用户余额不足-->
    <div class="msg_tips">
      <div class="ico warning"></div>
      <div class="msg">
        <strong>对不起，您的余额不足本次支付！</strong>
        <p>由于您选择的是余额支付，请确定您的余额是否足够！</p>
        <p>如果余额不足，请<a href="<!--angelcms{linkurl("useramount","recharge")}-->">点击这里充值</a>后再进行后续支付！</p>
        <p>如果有任何问题，请与我们客服取得联系。</p>
      </div>
    </div>
    <!--用户余额不足-->
    <!--angelcms{/if}-->
    <div class="clear"></div>

</div>
</div>
    <!--会员中心-->
  <div class="clear"></div>
		<div class="block-foot"><div><div>-</div></div></div>
			</div>
		</div>
		</div>
		<div class="col-sub">
   <div class="block first-block block-products  list-240" id="block-products-89301" rel="89301"> 
   <!--UserCenter navtion-->
    <!--angelcms{template src="ucenter_nav.html"}-->
    <!--UserCenter navtion-->
    <div class="block-foot">
	<div><div>-</div></div></div>
	</div>
	

	</div>
	
	</div>
	</div>
	</div>
</div>
</div>
<!--Footer-->
<!--angelcms{template src="footer.html"}-->
<!--/Footer-->
</body>
</html>