<div class="block-head">
    <div class="head-inner">
        <h2 class="title">
            交易管理
        </h2>
    </div>
</div>
<div class="block-content clearfix">
    <div class="item-list">
        <ul class="clearfix">
            <li>
                <a href="<!--angelcms{linkurl("userorder","list")}-->">
                    交易订单
                </a>
            </li>
            <li>
                <a href="<!--angelcms{linkurl("userorder","close")}-->">
                    已关闭订单
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="block-head">
    <div class="head-inner">
        <h2 class="title">
            账户管理
        </h2>
    </div>
</div>
<div class="block-content clearfix">
    <div class="item-list">
        <ul class="clearfix">
            <li>
                <a href="<!--angelcms{linkurl("useramount","recharge")}-->">
                    账户余额
                </a>
            </li>
            <li>
                <a href="<!--angelcms{linkurl("userpoint","convert")}-->">
                    我的积分
                </a>
            </li>
            <li>
                <a href="<!--angelcms{linkurl("usermessage","system")}-->">
                    站内短信
                </a>
            </li>
            <li>
                <a href="<!--angelcms{linkurl("usercenter","invite")}-->">
                    邀请码
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="block-head">
    <div class="head-inner">
        <h2 class="title">
            基本资料
        </h2>
    </div>
</div>
<div class="block-content clearfix">
    <div class="item-list">
        <ul class="clearfix">
            <li>
                <a href="<!--angelcms{linkurl("usercenter","proinfo")}-->">
                    个人资料
                </a>
            </li>
            <li>
                <a href="<!--angelcms{linkurl("usercenter","password")}-->">
                    修改密码
                </a>
            </li>
            <li>
                <a href="<!--angelcms{linkurl("usercenter","exit")}-->">
                    退出登录
                </a>
            </li>
        </ul>
    </div>
</div>